*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.contanier{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
#form{
    position:relative;
}

#form h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

#form input{
    padding: 5px 10px;
    width: 270px;
    outline: none;
    font-size: 18px;
}

#form button{
    font-size: 17px;
    outline: none;
    font-weight: 700;
    border-radius: 7px;
    padding: 5px 7px;
}

#form .indication {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50px;
    position:absolute;
    right: 80px;
    top: 65px;
}

#form.vaild .indication{
    background-color: green;
}

